[Unit]
Description=Delpass service
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/delpass/Delpass/delpass/run.sh
WorkingDirectory=/home/delpass/Delpass/delpass
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
