body {
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
    font-weight: normal;
}

.navbar {
    height: 90px;

    justify-content: center !important;

    .title {
        display: flex;
        width: 100%;
        max-width: 500px;

        flex-direction: column;
        padding: 0 0.5rem !important;
    }
}

.bg-image {
    background-image: url('/static/images/bg.png');
    height: auto;
    min-height: calc(100vh - 90px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    min-height: 100vh;
}

.toast-body {
    text-align: center;
    justify-content: center;
}

.row {
    border: solid 1px rgb(178, 175, 175);
    height: 1px;
    margin:10px 0px;
}

.col {
    padding-top: 25px;
}

#mainContainer {
    max-width: 500px !important;
 }

.btn {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

#subtitle {
    color: #fff;
    font-size: 1em
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: bold;
}

#home {
    padding-top: 1em;
    text-align: center;
    justify-content: center;
}

.form-check {
    text-align: left;
    min-height: 2rem;
}

.form-check-input {
    width: 24px;
    height: 24px;
}

.form-check-label {
    padding: 0px;
    margin-left: 5px;
    font-weight: bolder;
    color: white;
    vertical-align: sub;
}

.form-control {
    width: 90%
}

#colorPicker {
    align-self: center;
    width: 50px;
    height: 50px;
    border-color: white;
    margin-inline: auto;
}

.list-group{
    max-height: 250px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.label {
    align-self: center;
    font-weight: bold;
    font-size: large;
    color: white;
    margin-right: 5px;
    font-family: 'Orbitron', sans-serif;
}

.is-hidden {
    display: none !important;
    content-visibility: hidden !important;
}

.form-field {
    margin-top: 1rem;
    margin-bottom: 1rem;

  .inline-label {
    width: 90px;
    min-width: 90px;

    margin-right: 15px;

    text-align: left;
  }
}

.tabs-container {
    padding-bottom: 1rem;
}

.actions-container {
    padding-top: 1rem;
    justify-content: center;
}