body {
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
    font-weight: normal;
}

#mainContainer {
    max-width: 500px !important;
 }

.btn {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.col {
    padding-top: 25px;
}

.row {
    padding-top: 10px;
}

#subtitle {
    color: #fff;
    font-size: 1em
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: bold;
}

#home {
    padding-top: 1em;
}

.form-check-input {
    width: 24px;
    height: 24px;
}

.form-check-label {
    padding: 0px;
    margin-left: 5px;
    font-weight: bolder;
    color: white;
    vertical-align: sub;
}

.form-control {
    width: 90%
}

#colorPicker {
    align-self: center;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-color: white;
}

.list-group{
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.label {
    align-self: center;
    font-weight: bold;
    font-size: large;
    color: white;
    margin-right: 5px;
    font-family: 'Orbitron', sans-serif;
}

