body {
    font-family: 'Source Code Pro', monospace;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    box-shadow: 10px 15px 15px 0 rgba(0,0,0,0.33), 0 6px 8px 0 rgba(0,0,0,0.19);
}

.col {
    padding-top: 25px;
}

.row {
    padding-top: 10px;
}

#subtitle {
    color: #fff;
    font-size: 1em
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: bold;
}

#home {
    padding-top: 1em;
}

.input-group-prepend.input-space {
    padding-right: 15px;
}

.form-check {
    margin-left: 11px;
}

.form-check-input {
    width: 24px;
    height: 24px;
}

.form-check-label {
    padding: 4px;
    margin-left: 11px;
    font-weight: bolder;
}

.form-control {
    width: 90%
}

#colorPicker {
    margin-right: 20px;
}

.list-group{
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.panel{
    background-color: darkgray;
    border-radius: 12px;
}

.panel-heading{
    padding-top: 5px;
    padding-left: 5px;
}
