<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <title>Delpass - LED panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="static/includes/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="static/includes/bootstrap.min.css">
        <script src="static/includes/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="static/includes/alwan.min.css">
        <script src="static/includes/alwan.min.js"></script>
        <script src="static/includes/bootstrap-input-spinner.js"></script>

        <script src="static/script.js" type="module"></script>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        
    </head>
    <body>
        <div class="toast align-items-center text-white bg-danger position-absolute top-0 start-50 translate-middle-x p-2" style="z-index: 11" id="toastStatus" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toastText"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
            <div class="p-2"><a class="navbar-brand" href="#">PELPASS FESTIVAL</a></div> 
            <div class="p-2"><span id="subtitle">LED panel by @xamix</span></div>
        </nav>
        <div class="bg-image" style="background-image: url('static/images/bg.png');
                                    height: 100vh;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);height: 100vh;width: 100vw">
                <div class="container" id="roomTabContent">
                    <div class="" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="btn-group d-flex w-100" role="group" aria-label="Light Modes">
                            <button type="button" class="btn btn-primary w-100" name="btnMode" data-mode="text">Text</button>
                            <button type="button" class="btn btn-secondary w-100" name="btnMode" data-mode="music">Music</button>
                            <button type="button" class="btn btn-secondary w-100" name="btnMode" data-mode="history">History</button>
                        </div>
                        <div class="row" style="justify-content: center;">

                            <div class="row"></div>
                            <div class="d-flex w-100">
                                <label class="label label-default">Color:</label>
                                <div class="d-flex flex-column ms-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnColor" id="radioColorFixed" value="fixed" checked>
                                        <label class="form-check-label" for="radioColorFixed">Fixed</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnColor" id="radioColorSpectrum" value="spectrum">
                                        <label class="form-check-label" for="radioColorSpectrum">Spectrum</label>
                                    </div>
                                </div>
                                <div id="colorPicker" class="col picker"></div>
                            </div>

                            <div class="row"></div>
                            <div class="d-flex w-100">
                                <label class="label label-default">Intensity:</label>
                                <div class="d-flex flex-column w-100">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensityFixed" value="fixed" checked>
                                        <label class="form-check-label" for="radioIntensityFixed">Fixed</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensitySpacial" value="spacial">
                                        <label class="form-check-label" for="radioIntensitySpacial">Spacial</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensityTemporal" value="temporal">
                                        <label class="form-check-label" for="radioIntensityTemporal">Temporal</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row"></div>
                            <div class="d-flex w-100">
                                <label class="label label-default">Duration:</label>
                                <input type="number" id="duration" value="60" min="1" max="3600" step="1" data-decimals="0" data-suffix="secs" placeholder="Enter duration"/>
                            </div>

                            <div class="row"></div>

                            <div class="panel panel-primary" id="soundContainer">
                                <div class="panel-body" id="soundList">
                                    <ul class="list-group">
                                    </ul>
                                </div>
                            </div>

                            <div class="d-flex w-100" id="textContainer">
                                <label class="label label-default">Text:</label>
                                <input type="text" id="text" class="form-control" placeholder="Enter your text" aria-label="" aria-describedby="basic-addon1">
                            </div>
                            
                            <div class="row"></div>
                            <button type="button" class="btn btn-primary w-50" id="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>