<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <title>Delpass - LED panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="static/includes/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="static/includes/bootstrap.min.css">
        <script src="static/includes/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="static/includes/alwan.min.css">
        <script src="static/includes/alwan.min.js"></script>

        <script src="static/script.js" type="module"></script>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        
    </head>
    <body>
        <div class="toast align-items-center text-white bg-danger position-absolute top-0 start-50 translate-middle-x p-2" style="z-index: 11" id="toastStatus" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toastText"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
            <div class="p-2"><a class="navbar-brand" href="#">PELPASS FESTIVAL</a></div> 
            <div class="p-2"><span id="subtitle">LED panel by @xamix</span></div>
        </nav>
        <div class="bg-image" style="background-image: url('static/images/bg.png');
                                    height: 100vh;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);height: 100vh;width: 100vw">
                <div class="container" id="roomTabContent">
                    <div class="" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="btn-group d-flex w-100" role="group" aria-label="Light Modes">
                            <button type="button" class="selectMode btn btn-info w-100" data-mode="chase">Texte</button>
                            <button type="button" class="selectMode btn btn-secondary w-100" data-mode="smooth">Karaoke</button>
                            <button type="button" class="selectMode btn btn-secondary w-100" data-mode="wipe">History</button>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <div class="row"></div>
                            <div class="form-check text-white w-50">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Custom color
                                </label>
                            </div>
                            <div class="col"></div>
                            <div id="colorPicker" class="col picker"></div>
                            <div class="row"></div>
                            <input type="text" id="text" class="form-control" placeholder="Enter your text" aria-label="" aria-describedby="basic-addon1">
                            <div class="row"></div>
                            <div class="col"></div>
                            <button type="button col" class="btn btn-primary w-50" id="send">Send</button>
                        </div>
                    </div>

                    <div class="row"></div>

                    <div class="panel panel-primary" id="result_panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Music</h3>
                        </div>
                        <div class="panel-body" id="soundList">
                            <ul class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>