<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <title>Delpass - LED panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="static/includes/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="static/includes/bootstrap.min.css">
        <script src="static/includes/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="static/includes/alwan.min.css">
        <script src="static/includes/alwan.min.js"></script>
        <script src="static/includes/bootstrap-input-spinner.js"></script>

        <script src="static/script.js" type="module"></script>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    </head>
    <body>
        <div data-role="page" id="page-detail" data-dom-cache="false">

            <div data-bs-autohide="true" class="toast text-white bg-danger position-fixed top-0 start-50 translate-middle-x p-2" style="z-index: 11" id="toastStatus" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex justify-content-center">
                    <div class="toast-body w-100" id="toastText"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>

            <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
                <div class="navbar-title w-100">
                    <a class="navbar-brand" href="#">PELPASS FESTIVAL</a>
                    <span id="subtitle">LED panel by @xamix</span>
                </div>
            </nav>
            <div class="bg-image">
                <div class="mask">
                    <div class="container" id="mainContainer">
                        <div class="" id="home">
                            <div class="btn-group d-flex w-100 tabs-container" role="group" aria-label="Light Modes">
                                <button type="button" class="btn btn-primary w-100" name="btnMode" value="text">Text</button>
                                <button type="button" class="btn btn-secondary w-100" name="btnMode" value="sound">Sound</button>
                                <button type="button" class="btn btn-secondary w-100" name="btnMode" value="image">Image</button>
                                <button type="button" class="btn btn-secondary w-100" name="btnMode" value="status">Status</button>
                            </div>

                            <div class="row colorParams"></div>
                            <div class="form-field d-flex w-100 colorParams">
                                <label class="label label-default form-field-inline-label">Color:</label>
                                <div class="d-flex flex-column">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnColor" id="radioColorFixed" value="fixed" checked>
                                        <label class="form-check-label" for="radioColorFixed">Fixed</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnColor" id="radioColorSpectrum" value="spectrum">
                                        <label class="form-check-label" for="radioColorSpectrum">Spectrum</label>
                                    </div>
                                </div>
                                <div id="colorPicker" class="col picker"></div>
                            </div>

                            <div class="row colorParams"></div>
                            <div class="form-field d-flex w-100 colorParams">
                                <label class="label label-default form-field-inline-label">Intensity:</label>
                                <div class="d-flex flex-column w-100">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensityFixed" value="fixed" checked>
                                        <label class="form-check-label" for="radioIntensityFixed">Fixed</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensitySpacial" value="spacial">
                                        <label class="form-check-label" for="radioIntensitySpacial">Spacial</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensityTemporal" value="temporal">
                                        <label class="form-check-label" for="radioIntensityTemporal">Temporal</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnIntensity" id="radioIntensityStrobo" value="strobo">
                                        <div class="d-flex w-100 h-100">
                                            <label class="form-check-label" for="radioIntensityStrobo">Strobo</label>
                                            <input type="range" class="form-range h-100" min="1" max="19" id="stroboSpeed">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row imageMode"></div>
                            <div class="form-field d-flex w-100 imageMode">
                                <label class="label label-default form-field-inline-label">Image:</label>
                                <div class="d-flex flex-column w-100">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnImage" id="radioImageNone" value="none" checked>
                                        <label class="form-check-label" for="radioImageNone">None</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnImage" id="radioImageSpaceInvader" value="space_invader">
                                        <label class="form-check-label" for="radioImageSpaceInvader">Space Invader</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnImage" id="radioImageLight" value="light">
                                        <label class="form-check-label" for="radioImageLight">Light</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioBtnImage" id="radioImageSaucer" value="saucer">
                                        <label class="form-check-label" for="radioImageSaucer">Saucer</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row textMode imageMode"></div>
                            <div class="form-field d-flex w-100 textMode imageMode">
                                <label class="label label-default form-field-inline-label">Duration:</label>
                                <input type="number" id="duration" value="60" min="1" max="3600" step="1" data-decimals="0" data-suffix="secs" placeholder="Enter duration"/>
                            </div>

                            <div class="row soundMode"></div>
                            <div class="panel panel-primary soundMode form-field">
                                <div class="panel-body" id="soundList">
                                    <ul class="list-group">
                                    </ul>
                                </div>
                            </div>

                            <div class="row textMode"></div>
                            <div class="form-field d-flex w-100 textMode">
                                <label class="label label-default form-field-inline-label">Text:</label>
                                <textarea id="text" class="form-control" placeholder="Enter your text" aria-label="" aria-describedby="basic-addon1"></textarea>
                            </div>

                            <div class="row statusMode"></div>
                            <label class="label label-default statusMode" id="statusModeLabel">Text:</label>

                            <div class="row statusMode"></div>
                            <div class="panel panel-primary statusMode">
                                <div class="panel-body" id="historyList">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            List group item heading
                                            <small>3 days ago</small>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="actions-container d-flex w-100 textMode soundMode imageMode">
                                <button type="button" class="btn btn-success w-100" id="send" style="text-align: center;">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>